*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none !important;
}
.container{
    width: 75%;
    height: 100%;
    margin: 0 auto;
}
.active{
    border-bottom: 4px solid #0282F9;
    color: #0282F9;
}
.red{
    color: red;
}